#karate{
    width: 100%;
    margin-top: 1%;
}
#meet{
    color: #fa3535;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 13vw;
    font-size: 25px;
    border: #fa3535 solid 1px;
    border-radius: 8px;
    margin-left: 40vw;
    cursor: pointer;
    font-weight: bold;
}
#meet:hover{
    color: white;
    background-color: #fa3535;
    transition: 0.5s;
}
h2{
    position: absolute;
    margin-top: 18vw;
    color: #5d5c5b;
    margin-left: 37vw;
}
/*F O O T E R*/
footer{
    margin-top: 30%;
    background-color: #595856;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    position:relative;
    display:block;
    padding: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}
#contacto{
    font-size: 250%;
    float: left;
    margin-left: 20%;
    position: relative;
}
#tradicional{
    margin-left: 50%;
    position: relative;
} 
