#karate{
    width: 100%;
    margin-top: 1%;
}
#meet{
    color: #fa3535;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    margin-top: 13vw;
    font-size: 25px;
    border: #fa3535 solid 1px;
    border-radius: 8px;
    margin-left: 40vw;
    cursor: pointer;
    font-weight: bold;
}
#meet:hover{
    color: white;
    background-color: #fa3535;
    transition: 0.5s;
}
h2{
    position: absolute;
    margin-top: 18vw;
    color: #5d5c5b;
    margin-left: 37vw;
}
