figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 320px;
  width: 320px;
  text-align: center;
  border-radius: 5%;
}
h1{
    color: #e45c5c;
    font-size: 250%;
    text-align: center;
    margin-top: 2%;
    border-bottom: #8c8b8a 0.6vw solid;
    margin-right: 36%;
    margin-left: 40%;
}
#caja1{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 72%;
    text-align: justify;
}
#caja2{
    margin-top: -33%;
    margin-left: 38%;
    margin-right: 38%;
    text-align: justify;
}
#caja3{
    margin-top: -34%;
    margin-left: 68%;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 5%;
}
#estudiantes{
    margin-top: 3%;
    text-align: justify;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.Tabla{
	margin-top: 2em;
	margin-left: 19em;
	text-align: center;
	font-size: 1.6vw;
}
#ganadores{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -50%;
}
